body {
    font-family: 'Muli', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    overflow: hidden;
    background: #f9f5f0;
}

.clickable {
  cursor: pointer;
}

/* flex */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.flex.column {
    flex-flow: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.jc-sa {
    justify-content: space-around;
}

.flex.jc-sb {
    justify-content: space-between;
}

.flex.jc-c {
    justify-content: center;
}

.flex.jc-fe {
    justify-content: flex-end;
}

.flex.ai-c {
    align-items: center;
}

.flex.ai-fe {
    align-items: flex-end;
}
