.soul-stone-small {
    background-image: url('../assets/units/soulstones_66x81.png');
    background-size: contain;
}

.spotter-naki-small {
    background: url('../assets/units/spotter_naki_150x150.png') center;
    background-size: cover;
}

.forest-spirit-small {
    background: url('../assets/units/forest_spirit_150x150.png') center;
    background-size: cover;
}

.grass-spirit-small {
    background: url('../assets/units/grass_spirit_150x150.png') center;
    background-size: cover;
}

.druid-naki-small {
    background: url('../assets/units/druid_naki_150x150.png') center;
    background-size: cover;
}

.guard-naki-small {
    background: url('../assets/units/guard_naki_150x150.png') center;
    background-size: cover;
}

.elder-spirit-small {
    background: url('../assets/units/elder_spirit_150x150.png') center;
    background-size: cover;
}

.pangoan-small {
    background: url('../assets/units/pangoan_150x150.png') center;
    background-size: cover;
}

.athlas-small {
    background: url('../assets/units/athlas_150x150.png') center;
    background-size: cover;
}

.raider-naki-small {
    background: url('../assets/units/raider_naki_150x150.png') center;
    background-size: cover;
}

.ovivi-small {
    background: url('../assets/units/ovivi_150x150.png') center;
    background-size: cover;
}

.teryx-small {
    background: url('../assets/units/teryx_150x150.png') center;
    background-size: cover;
}

.nyxi-small {
    background: url('../assets/units/nyxi_150x150.png') center;
    background-size: cover;
}

.ranax-small {
    background: url('../assets/units/ranax_150x150.png') center;
    background-size: cover;
}

.globalSkillOff-small {
    background-image: url('../assets/icons/icon_off.png');
    background-size: cover;
    background-position: center;
}

.globalSkillDef-small {
    background-image: url('../assets/icons/icon_def.png');
    background-size: cover;
    background-position: center;
}

.globalSkillSpeed-small {
    background-image: url('../assets/icons/icon_speed.png');
    background-size: cover;
    background-position: center;
}

.globalSkillLuck-small {
    background-image: url('../assets/icons/icon_luck.png');
    background-size: cover;
    background-position: center;
}

.treepoint-small {
    background-image: url('../assets/icons/icon_treepoint.png');
    background-size: cover;
    background-position: center;
}

.fieldcap-small {
    background-image: url('../assets/icons/icon_fieldcap.png');
    background-size: cover;
    background-position: center;
}

.divinestone-small {
    background-image: url('../assets/icons/icon_divinestone.png');
    background-size: cover;
    background-position: center;
}

.lesser_treasure {
    background-image: url('../assets/backgrounds/lesser_treasure.png');
    background-size: contain;
}

.magic_treasure {
    background-image: url('../assets/backgrounds/magic_treasure.png');
    background-size: contain;
}

.divine_treasure {
    background-image: url('../assets/backgrounds/divine_treasure.png');
    background-size: contain;
}

.header-crate {
    background-image: url('../assets/icons/header_crate.png');
    background-size: cover;
    width: 100px;
    height: 120px;
    margin-top: -20px;
}